<div class="ui negative message container">
  <h1 class="header">
    Ой, что-то пошло не так :(
  </h1>
  <div class="content">
    <div class="ui hidden divider"></div>
    <h4 class="ui black header">
      <div class="content">
        Подробная информация:
      </div>
    </h4>
    <table class="ui very basic collapsing celled stripped table">
      <tr>
        <td>
          <h4 class="ui header">
            <div class="content">
              method
            </div>
            <h4>
        </td>
        <td>
          {{ ajax.method }}
        </td>
      </tr>
      <tr>
        <td>
          <h4 class="ui header">
            <div class="content">
              url
            </div>
          </h4>
        </td>
        <td>
          {{ ajax.url }}
        </td>
      </tr>
      <tr>
        <td>
          <h4 class="ui header">
            <div class="content">
              data
            </div>
          </h4>
        </td>
        <td>
          {{ ajax.data }}
        </td>
      </tr>
      <tr>
        <td>
          <h4 class="ui header">
            <div class="content">
              response
            </div>
          </h4>
        </td>
        <td>
          {{ response.status }} - {{ response.statusText }}
        </td>
      </tr>
      <tr>
        <td>
          <h4 class="ui header">
            <div class="content">
              text
            </div>
          </h4>
        </td>
        <td>
          {{ response.responseText }}
        </td>
      </tr>
    </table>
  </div>
</div>
