<div class="ui basic padded segment container">
  <h2 class="ui dividing header">
    <div class="content">
      {{{name}}}
      <div class="ui small {{state.color}} label">
        {{state.text}}
      </div>
    </div>
  </h2>
  <div class="ui right aligned basic segment zeromargin">
    <i>
      <strong>Создано</strong>
      {{#if creator}}
      <div class="ui blue label">
        {{creator.name}}
      </div>
      {{/if}}
      <strong>:</strong>
      {{duration_from_now starting_time}}
      <strong>Окончание:</strong>
      {{duration_from_now ending_time}}
    </i>
  </div>
  <div id="description">
    {{{description}}}
  </div>
  <div id="action">
    {{{action}}}
  </div>
</div>
