<div class="ui basic padded segment container">
  <h2 class="ui dividing header">
    <div class="content">
      {{{name}}}
      <div class="ui small {{state.color}} label">
        {{state.text}}
      </div>
    </div>
  </h2>
  <div class="ui right aligned basic segment nopadmar">
    <small>
    <i>
      <strong>
        Создано
        {{#if creator}}
        <div class="ui blue label">
          {{creator.name}}
        </div>
        {{/if}}
        {{duration_from_now starting_time}}
      </strong>
      ({{time starting_time}})
      <strong>
        Окончание
        {{duration_from_now ending_time}}
      </strong>
      ({{time ending_time}})
    </i>
    </small>
  </div>
  <div id="description">
    {{{description}}}
  </div>
</div>
<div id="action">
  {{{action}}}
</div>
