{{{internal_html}}}
<div class="ui right aligned basic segment zeromargin">
  <div class="ui basic blue label">
    Голосуют: {{all_count}}
  </div>
  <div class="ui basic green label">
    За: {{yes}}
  </div>
  <div class="ui basic red label">
    Против: {{no}}
  </div>
  <div class="ui basic yellow label">
    Необходимо для принятия: {{min_success_count}}
  </div>
</div>
