<div class="ui relative container">
  <h2 class="ui dividing header">
    <div class="content">
      <i class="users icon"></i>
      {{name}}
    </div>
  </h2>
  {{#if editable}}
  <div id="edit-btn" class="ui top right pointing dropdown basic icon button topright">
    <i class="configure icon"></i>
    <div class="menu">
      <a class="item" href="#change_timetable/{{id}}">
        <i class="calendar icon"></i>
        Изменить расписание
      </a>
      <a class="item" href="#user_invite/{{id}}">
        <i class="add user icon"></i>
        Пригласить пользователя
      </a>
    </div>
  </div>
  {{/if}}
  <div class="description">
    <p>
      {{{markdown description}}}
    </p>
  </div>
  <p>
    <strong>Создана: </strong>{{duration_from_now creation_time}}
  </p>
  <h4 class="ui header">
    <div class="content">
      Участники:
    </div>
  </h4>
  <div class="ui basic blue labels">
    {{#each members}}
    <div class="ui label">
      {{name}}
    </div>
    {{/each}}
  </div>
</div>
