<div id="{{id}}" class="relative item">
  <div class="content">
    <div class="header">
      <strong>{{sender_name}}:</strong> {{subject}}
      {{#unless readed}}
      <button class="ui topright icon basic tiny button readed-btn" data-tooltip="Пометить как прочитанное." data-position="left center" data-variation="inverted">
        <i class="close icon"></i>
      </button>
      {{/unless}}
    </div>
    <div class="meta">Создано {{duration_from_now creation_time}}</div>
    <div class="description">
      <p>
      {{{markdown body}}}
      </p>
    </div>
  </div>
</div>
