<div class="ui small basic icon buttons">
  {{#if prev}}
  <a class="ui pagination button" {{#if prefix}}href="{{prefix}}{{prev}}"{{else}}data="{{prev}}"{{/if}} aria-label="Предыдущая">
    <i class="angle double left icon"></i>
  </a>
  {{else}}
  <div class="ui button disabled">
    <i class="angle double left icon"></i>
  </div>
  {{/if}}

  {{#each pages}}
  <a class="ui {{#if link}}pagination {{/if}}button {{#if active}} active{{/if}}{{#if disabled}} disabled{{/if}}" {{#if link}}{{#if ../prefix}}href="{{../prefix}}{{link}}"{{else}}data="{{link}}"{{/if}}{{/if}}>
    {{name}}
  </a>
  {{/each}}

  {{#if next}}
  <a class="ui pagination button" {{#if prefix}}href="{{prefix}}{{next}}"{{else}}data="{{next}}"{{/if}} aria-label="Слудующая">
    <i class="angle double right icon"></i>
  </a>
  {{else}}
  <div class="ui button disabled">
    <i class="angle double right icon"></i>
  </div>
  {{/if}}
</div>
