{{#if group}}
<div class="ui container">
  <div class="ui huge breadcrumb">
    <i class="big photo icon"></i>
    <a class="section" href="#user/{{photo.owner.id}}">{{photo.owner.name}}</a>
    <i class="at divider icon"></i>
    <a class="section" href="#group/feed/{{group.id}}">{{group.name}}</a>
    <i class="right chevron divider icon"></i>
    <a class="section" href="#group/feed/element/{{feed.id}}">{{feed.name}}</a>
    <i class="right chevron divider icon"></i>
    <div class="active section">{{photo.name}}</div>
  </div>
</div>
{{/if}}
<div id="photo-container" class="full-height">
  <div id="loader" class="ui dimmer full-height">
    <div class="ui text loader">Загрузка</div>
  </div>
    <img id="photo" src="/photo/{{photo.id}}.jpg" class="incenter"/>
    {{#if next}}
    <a href="#{{context_url}}{{next}}">
    {{/if}}
      <div class="next pager">
          {{#if next}}
        <div class="inside">
          <i style="right: 20%" class="massive angle right next icon"></i>
        </div>
          {{else}}
        <div class="inside bounder">
          <div style="right: 20%" class="next">]</div>
        </div>
          {{/if}}
      </div>
    {{#if next}}
    </a>
    {{/if}}
    {{#if prev}}
    <a href="#{{context_url}}{{prev}}">
    {{/if}}
      <div class="prev pager">
          {{#if prev}}
        <div class="inside">
          <i style="left: 20%" class="massive angle left prev icon"></i>
        </div>
          {{else}}
        <div class="inside bounder">
          <div style="left: 20%" class="prev">[</div>
        </div>
          {{/if}}
      </div>
    {{#if prev}}
    </a>
    {{/if}}
    <div class="exifview">
      <div class="ui very padded basic segment">
        <h2 class="ui center aligned header">
          {{#if photo.shutter_speed}}
            {{#if photo.camera_model}}
            <i class="camera retro icon"></i>
            {{photo.camera_model}}
            {{/if}}
            {{#if photo.focal_length}}
            {{photo.focal_length}}mm
            {{/if}}
            {{#if photo.iso}}
            ISO:{{photo.iso}}
            {{/if}}
            {{#if photo.shutter_speed}}
            {{shutter photo.shutter_speed}}с
            {{/if}}
            {{#if photo.aperture}}
            f{{aperture photo.aperture}}
            {{/if}}
          {{else}}
            Данные о параметрах съёмки отсутствуют.
          {{/if}}
        </h2>
      </div>
    </div>
    <div class="nameviewer">
      <div class="ui very padded center aligned basic segment">
          <div class="ui huge breadcrumb">
            <i class="big photo icon"></i>
            {{#if group}}
            <a class="section" href="#user/{{photo.owner.id}}">{{photo.owner.name}}</a>
            <i class="at divider icon"></i>
            <a class="section" href="#group/feed/{{group.id}}">{{group.name}}</a>
            <i class="right chevron divider icon"></i>
            <a class="section" href="#group/feed/element/{{feed.id}}">{{feed.name}}</a>
            <i class="right chevron divider icon"></i>
            {{else}}
            <a class="section" href="#gallery">Галлерея</a>
            <i class="right chevron divider icon"></i>
            {{/if}}
            <div class="active section">
              {{#if photo.name}}
              {{photo.name}}
              {{else}}
              <i>Без имени</i>
              {{/if}}
            </div>
          </div>
      </div>
    </div>
</div>
