<div id="{{id}}" class="centered card mw300">
    <a class="image" href="#{{url}}">
        <img exify_intitialized="true" src="i/dummy_preview.png" data-src="preview/{{id}}.png" alt="Нет картинки :(">
    </a>
    <div class="content">
        <div class="ui {{#unless name}}disabled {{/unless}}header">
            {{#if name}}
                {{name}}
            {{else}}
                <i>Без имени</i>
            {{/if}}
        </div>
        {{#if comments_count}}
            <div class="right floated {{#if unreaded_comments}}new {{/if}}comments">
                    <i class="comment {{#unless unreaded_comments}}outline {{/unless}}icon"></i> {{comments_count}}
                    </div>
                {{/if}}
                <div class="meta">
                    <span class="date">Загружено {{duration_from_now upload_time}}</span>
                </div>
            </div>
            <div class="extra content">
                <a href="#edit_photo/{{id}}">
                    <i class="edit icon"></i>
                    Редактировать
                </a>
            </div>
        </div>
