<div id="photo-container">
  <div id="loader" class="ui active dimmer">
    <div class="ui text loader">Загрузка</div>
  </div>
    <img id="photo" src="/photo/{{id}}.jpg" class="incenter"/>
    {{#if next}}
    <a href="#{{context_url}}{{next}}">
      <div class="next pager">
        <div class="inside">
          <i style="right: 20%" class="massive angle right next icon"></i>
        </div>
      </div>
    </a>
    {{/if}}
    {{#if prev}}
    <a href="#{{context_url}}{{prev}}">
      <div class="prev pager">
        <div class="inside">
          <i style="left: 20%" class="massive angle left prev icon"></i>
        </div>
      </div>
    </a>
    {{/if}}
</div>
