<div id="photo-container">
  <div id="loader" class="ui active dimmer">
    <div class="ui text loader">Загрузка</div>
  </div>
    <img id="photo" src="/photo/{{id}}.jpg" class="incenter"/>
    {{#if next}}
    <a href="#{{context_url}}{{next}}">
      <div class="next pager">
        <div class="inside">
          <i style="right: 20%" class="massive angle right next icon"></i>
        </div>
      </div>
    </a>
    {{/if}}
    {{#if prev}}
    <a href="#{{context_url}}{{prev}}">
      <div class="prev pager">
        <div class="inside">
          <i style="left: 20%" class="massive angle left prev icon"></i>
        </div>
      </div>
    </a>
    {{/if}}
    <div class="exifview">
      <div class="ui very padded basic segment">
        <h2 class="ui center aligned header">
          {{#if shutter_speed}}
            {{#if camera_model}}
            {{camera_model}}
            {{/if}}
            {{#if focal_length}}
            {{focal_length}}mm
            {{/if}}
            {{#if iso}}
            ISO:{{iso}}
            {{/if}}
            {{#if shutter_speed}}
            {{shutter shutter_speed}}с
            {{/if}}
            {{#if aperture}}
            f{{aperture aperture}}
            {{/if}}
          {{else}}
            Данные о параметрах съёмки отсутствуют.
          {{/if}}
        </h2>
      </div>
    </div>
    <div class="nameviewer">
      <div class="ui very padded basic segment">
        <h2 class="ui center aligned header">
          {{name}}@{{owner_name}}
        </h2>
      </div>
    </div>
</div>
