<div class="event">
  <div class="label">
    {{#if_equal state "Start"}}
    <i class="announcement icon"></i>
    {{else}}
    <i class="film icon"></i>
    {{/if_equal}}
  </div>
  <div class="content">
    <div class="date">
      {{duration_from_now creation_time}}
      {{#if is_new}}
      <div class="ui yellow label">новое</div>
      {{/if}}
    </div>
    <div class="summary">
      {{#if_equal state "Start"}}
      Можно начинать выкладываться
      <a href="#event/{{scheduled_id}}">{{event_name}}</a>
      {{else}}
      Фотографии с <a href="#group/feed/element/{{id}}">{{event_name}}</a>
      {{/if_equal}}
    </div>
    {{#if_equal state "Finish"}}
    <div class="extra">
      <div class="ui stackable link cards">
        {{#each photos}}
        <div class="ui card mw300">
          <div class="content">
            <a href="#user/{{owner.id}}" class="right floated author">
              @{{owner.name}}
            </a>
            {{#if comments_count}}
            <div class="left floated {{#if unreaded_comments}}new {{/if}}comments">
              <i class="comment {{#unless unreaded_comments}}outline {{/unless}}icon"></i> {{comments_count}}
            </div>
            {{/if}}
          </div>
          <a class="image" href="#publication/{{../id}}/photo/{{id}}">
            <img exify_intitialized="true" src="preview/{{id}}.png" alt="Загружается ...">
          </a>
          <div class="content">
            <div class="ui {{#unless name}}disabled {{/unless}}header">
              {{#if name}}
              {{name}}
              {{else}}
              <i>Без имени</i>
              {{/if}}
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
    {{else}}
      {{#if comments_count}}
    <div class="extra">
      <div class="{{#if unreaded_comments}}new {{/if}}comments">
        <i class="comment {{#unless unreaded_comments}}outline {{/unless}}icon"></i> {{comments_count}}
      </div>
    </div>
      {{/if}}
    {{/if_equal}}
</div>
