{{#if isLogged}}
<div class="ui pointing secondary main menu">
  <div class="ui container">
    <div class="header item" href="#">
      <img class="ui logo" src="i/logo.png">
    </div>
    <a class="item{{#if isNavInMessages}} active{{/if}}" href="#mailbox/unreaded">
      <i class="icon alarm">
      </i>
      Оповещения
      {{#if unreaded_messages}}
      <div class="ui teal label">
        {{unreaded_messages}}
      </div>
      {{/if}}
    </a>
    <a class="item{{#if isNavInGallery}} active{{/if}}" href="#gallery">
      <i class="icon film"></i>
      Галлерея
    </a>
    {{#if is_groups}}
    <a class"{{#if is_many_groups}}ui dropdown {{/if}}item{{#if isNavInGroup}} active{{/if}}" href="#group/{{current_group.id}}">
      <i class="icon users"></i>
      {{current_group.name}}
      {{#if current_group.unwatched_events}}
      <div class="ui label">
        {{current_group.unwatched_events}}
      </div>
      {{#if is_many_groups}}
      {{#if has_unreaded_in_groups}}
      <i class="chevron circle down icon"></i>
      {{else}}
      <i class="dropdown icon"></i>
      {{/if}}
      <div class="menu">
        {{#each groups}}
        <a class="item" href="#group/{{id}}">
          {{name}}
          {{#if unwatched_events}}
          <div class="ui label">
            {{unwatched_events}}
          </div>
          {{/if}}
        </a>
        {{/each}}
      </div>
      {{/if}}
      {{/if}}
    </a>
    {{/if}}
    <div class="right menu">
      <div class="ui dropdown item">
        {{name}}
        <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item" href="#group_creation">
            <i class="child icon"></i>
            Создать новую группу
          </a>
          <a class="item" href="#logout">
            <i class="sign out icon"></i>
            Выход
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{{/if}}
