{{#if isLogged}}
<div class="ui pointing secondary stackable main menu">
  <div class="ui container">
    <div class="header item">
      <img class="ui logo" src="i/logo.png">
    </div>
    <a class="item{{#if isNavInMessages}} active{{/if}}" href="#mailbox/unreaded">
      <i class="icon inbox">
      </i>
      Сообщения
      {{#if unreaded_messages}}
      <div class="ui black label">
        {{unreaded_messages}}
      </div>
      {{/if}}
    </a>
    <a class="item{{#if isNavInGallery}} active{{/if}}" href="#gallery">
      <i class="icon film"></i>
      Галлерея
    </a>
    {{#if is_groups}}
    <div class="ui buttons">
      <a class="{{#if isNavInGroup}}active {{/if}}button item" href="#group/{{current_group.id}}">
        <i class="icon users"></i>
        {{current_group.name}}
        {{#if current_group.unwatched_events}}
        <div class="ui black label">
          {{current_group.unwatched_events}}
        </div>
        {{/if}}
      </a>
      {{#if is_many_groups}}
      <div id="groups_menu" class="ui top right pointing floating dropdown icon button item">
        {{#if has_unreaded_in_groups}}
        <i class="chevron circle down icon"></i>
        {{else}}
        <i class="dropdown icon"></i>
        {{/if}}
        <div class="menu">
          {{#each groups}}
          <a class="item" href="#group/{{id}}">
            <i class="icon users"></i>
            {{name}}
            {{#if unwatched_events}}
            <div class="ui black label">
              {{unwatched_events}}
            </div>
            {{/if}}
          </a>
          {{/each}}
        </div>
      </div>
      {{/if}}
    </div>
    {{/if}}
    <div class="right menu">
      <div id="user_menu" class="ui top right pointing dropdown item">
        {{name}}
        <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item" href="#group_creation">
            <i class="child icon"></i>
            Создать новую группу
          </a>
          <a class="item" href="#logout">
            <i class="sign out icon"></i>
            Выход
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{{/if}}
