<div class="ui container">
  <h2 class="ui dividing header">
    <div class="content">
      <i class="user icon"></i>
      {{name}}
    </div>
  </h2>
  <p>
    <strong>Присоединился: </strong>{{duration_from_now join_time}}
  </p>
  <h2 class="ui block icon header">
      <a href="#gallery/{{id}}">
          <i class="film icon"></i>
          <div class="content">
              Галлерея
          </div>
      </a>
  </h2>
  <h4 class="ui header">
    <div class="content">
      Состоит в группах:
    </div>
  </h4>
  <div class="ui green labels">
    {{#each groups}}
      <a class="ui label" href="#/group/info/{{id}}">{{name}}</a>
    {{/each}}
  </div>
</div>
